@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.font-size-12 { font-size: 12px;}
.font-size-14 { font-size: 14px; }
.font-size-15 { font-size: 15px; }
.font-size-18 { font-size: 18px; }
.font-size-32 { font-size: 32px; }

.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }

.line-height-24 { line-height: 24px; }
.line-height-39 { line-height: 39px; }

.font-color-main { color: var(--main-text-color); }
.font-color-sub { color: var(--sub-text-color); }
.font-color-title { color: var(--title-text-color); }
.font-color-blue { color: var(--main-color); }
.font-color-red { color: var(--oppo-color); }