.task-box {
  .task-check{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border: solid 2px #DADADA;
    border-radius: 6px;
  }
  input[type='checkbox']{
    display: none;

    &:checked + label {
      .task-check{
        background: url("../images/Checkmark.svg") center/55% no-repeat;
      }
      .task-category{
        display: none;
      }
      .task-title{
        color: var(--sub-text-color);
      }
    }
  }
}

.task-info{
  margin-left: 16px;
}

.plus-btn {
  position: fixed;
  right: 16px;
  bottom: 40px;
  width: 56px;
  height: 56px;
  border: solid 0;
  border-radius: 50%; /* 9999px은 보통 옆으로 긴 둥근 막대기를 작업할 때 사용 */
  background: url("../images/Plus.svg") center/25% no-repeat var(--main-color);
}

.page-back{
  align-items: center;
  width: fit-content;
  padding: 10px 16px 10px 13px;

  img{
    width: 14px;
    margin-right: 13px;
  }
}

.task-input{
  input[type='text'] {
    outline: 0;
    border-radius: 4px 4px 0 0;
    border-width: 0 0 2px;
    border-color: rgba(0, 0, 0, 0.30);
    padding: 20px 16px;
    background-color: var(--bg-sub-color);
    &:focus{
      border-color: rgba(0, 0, 0, 0.80);
    }
  }

  .caution {
    visibility: hidden;
    height: 16px;
    padding: 1px 3px 0;
  }
}

.large-button {
  border: 0;
  border-radius: 4px;
  padding: 15px 16px;
}

.modal{
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  border-radius: 4px;
  padding: 15px 16px;
  box-shadow: rgba(0,0,0,0.20) 0 0 10px;
  background-color: var(--bg-color);

  .modal-title{
    text-align: center;
    padding: 30px;
  }
}
.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41,43,53,0.2);
}

.blue-round-box{
  border: solid 1px var(--main-color);
  border-radius: 9999px;
  min-width: fit-content;
}

.opacity-transition {
  opacity: 0;
  transition: opacity 0.15s;
}

.color-transition {
  transition: background-color, color 0.2s;
}

.pointer-event-none {
  pointer-events: none;
}