:root {
    --main-color: #1294F2;
    --bg-color: #F8F8F8;
    --bg-sub-color: #e7e7e7;
    --oppo-color: #e73502;
    --title-text-color: #292B35;
    --main-text-color: #575767;
    --sub-text-color: #B9B9BE;
}

.font-color-main { color: var(--main-text-color); }
.font-color-sub { color: var(--sub-text-color); }
.font-color-title { color: var(--title-text-color); }
.font-color-blue { color: var(--main-color); }
.font-color-red { color: var(--oppo-color); }

.bg-blue-color {
    background-color: var(--main-color);
    color: var(--bg-color);
}
.bg-red-color {
    background-color: var(--oppo-color);
    color: var(--bg-color);
}
.bg-sub-color { background-color: var(--bg-sub-color); }
.bg-color { background-color: var(--bg-color); }