:root {
  --main-color: #1294F2;
  --bg-color: #F8F8F8;
  --bg-sub-color: #e7e7e7;
  --oppo-color: #e73502;
  --title-text-color: #292B35;
  --main-text-color: #575767;
  --sub-text-color: #B9B9BE;

  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-2-5: 20px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;

  --spacing-main-top: 76px;
  --spacing-add-top: 55px;
}
* {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
}

body{
  padding: 0 16px 100px;
  background-color: var(--bg-color);
  user-select: none;
}

hr {
  margin: var(--spacing-1) 0 0;
  border: solid 1px rgba(0, 0, 0, 0.03);
  border-radius: 9999px;
}

a{ text-decoration: none; }
