* {
    box-sizing: border-box;
    line-height: 1;
}
body{
    margin: 0;
    padding: 0 48px 100px;
    background-color: #F8F8F8;
}
a{ text-decoration: none; }

.page-title{
    margin-top: 230px;
    margin-bottom: 0;
    font-size: 85px;
    font-weight: 700;

    color: #292B35;
}
.task-progress{
    font-size: 40px;
    font-weight: 600;

    color: #575767;
}

hr {
    margin: 0;
    border: solid 3px rgba(0, 0, 0, 0.03);
    border-radius: 9999px;
}

.page-subtitle{
    font-size: 50px;
    color: #575767;
}

.task-box {
    display: flex;
    align-items: start;
}
input[type='checkbox']{
    display: none;
}
input[type='checkbox'] + label{
    display: flex;
}
input[type='checkbox'] + label > .task-check{
    width: 66px;
    height: 66px;

    border: solid 6px #DADADA;
    border-radius: 18px;
}
input[type='checkbox']:checked + label > .task-check{
    background: url("images/Checkmark.svg") center/55% no-repeat;
}
input[type='checkbox']:checked + label .task-category{
    display: none;
}
input[type='checkbox']:checked + label .task-title{
    color: #B9B9BE;
}

.task-info{
    margin-top: 15px;
    margin-left: 48px;

    font-size: 42px;
    font-weight: 400;
}
.task-title{
    color: #575767;
}
.task-category{
    color: #B9B9BE;
    margin-top: 16px;
    font-weight: 600;
}

.plus-btn {
    position: fixed;
    right: 50px;
    bottom: 120px;

    width: 150px;
    height: 150px;
    border: solid 0;
    border-radius: 50%; /*9999px은 보통 옆으로 긴 둥근 막대기를 작업할 때 사용*/
    background-color: #1294F2;
    align-items: center;

    color: #F8F8F8;
    font-size: 75px;
    padding-top: 13px;
}
.plus-btn:active{
    background-color: #0e7bcb;
    color: #d5d5d5;
}

.page-back{
    padding: 30px 48px 30px 35px;
    width: fit-content;
    display: flex;
    align-items: center;

    font-size: 45px;
    font-weight: 700;
    color: #1294F2;

    margin-top: 165px;
}
.page-back > img{
    width: 42px;
    margin-right: 35px;
}

.task-input{
    display: flex;
    flex-direction: column;
}
.task-input > input[type='text'] {
    outline: 0;
    border-radius: 12px 12px 0 0;
    border-width: 0 0 6px;
    border-color: rgba(0, 0, 0, 0.30);

    background-color: #e7e7e7;
    font-size: 40px;
    color: #575767;
    padding: 55px 50px 45px 50px;
}

.task-input > div{
    visibility: hidden;
    height: 48px;
    padding: 2px 10px 0;

    font-size: 30px;
    color: #d32828;
}

.large-button {
    padding: 40px 0;
    border: 0;
    border-radius: 12px;
    background-color: #1294F2;
    color:#F8F8F8;

    font-size: 40px;
    width: 100%;
}
.button-position-bottom{
    position: absolute;
    bottom: 100px;
    left: 40px;
    right: 40px;
    width: auto;

    font-size: 45px;
    font-weight: 600;
}


.modal{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    padding: 50px 60px;

    width: 65%;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.30) 0 0 15px;
    background-color: #F8F8F8;

    text-align: center;
    font-size: 40px;
}

.modal-position-bottom{
    bottom: 300px;
}

.modal-position-center{
    top: 50%;
    bottom: 50%;
    height: fit-content;
}

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41,43,53,0.2);
}

.margin-top-8{ margin-top: 24px; }
.margin-top-16{ margin-top: 48px; }
.margin-top-32{ margin-top: 96px; }

.flex-alignment-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opacity-animation {
    opacity: 0;
    transition: opacity 0.15s;
}