* {
    font-family: Inter;
    box-sizing: border-box;
}
body{
    padding:0 40px;
    background-color: #F8F8F8;
}

.page-title{
    margin-top: 230px;
    margin-bottom: 0;
    font-size: 85px;
    font-weight: 700;

    color: #292B35;
}
.task-progress{
    margin: 25px 0;
    font-size: 40px;
    font-weight: 600;

    color: #575767;
}

hr {
    border: solid 3px rgba(0, 0, 0, 0.03);
    margin: 25px 0;
    border-radius: 9999px;
}

.page-subtitle{
    font-size: 50px;
    color: #575767;
}

.task-box {
    display: flex;
    align-items: start;
}
input[type='checkbox']{
    display: none;
}
input[type='checkbox'] + label{
    display: flex;
}
input[type='checkbox'] + label > .task-check{
    width: 70px;
    height: 70px;

    border: solid 5px #DADADA;
    border-radius: 18px;
}
input[type='checkbox']:checked + label > .task-check{
    background: url("images/Checkmark.svg") center/55% no-repeat;
}
input[type='checkbox']:checked + label > .task-desc > .task-category{
    display: none;
}
input[type='checkbox']:checked + label > .task-desc > .task-title{
    color: #B9B9BE;
}

.task-desc{
    margin-top: 15px;
    margin-left: 45px;
    font-size: 40px;
}
.task-title{
    color: #575767;
}
.task-category{
    color: #B9B9BE;
    margin-top: 15px;
    font-weight: 600;
}

.add-btn {
    position: fixed;
    right: 50px;
    bottom: 120px;

    width: 150px;
    height: 150px;
    border: solid 0px;
    border-radius: 9999px;
    background-color: #1294F2;
    align-items: center;

    color: #F8F8F8;
    font-size: 75px;
    padding-top: 13px;
}
.add-btn:active{
    background-color: #0e7bcb;
    color: #d5d5d5;
}

.page-header{
    color: #1294F2;
    display: flex;
    justify-content: start;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    font-weight: 600;

    margin: 150px 0 -210px 0;
}
.page-header > a > img {
    height: 40px;
    margin: 28px;
}
.task-input{
    display: flex;
    flex-direction: column;

    padding-top: 25px;
}
.task-input > input[type='text'] {
    outline: 0;
    border-radius: 12px 12px 0 0;
    border-width: 0 0 6px;
    border-color: rgba(0, 0, 0, 0.25);

    background-color: #e7e7e7;
    font-size: 40px;
    color: #575767;

    margin-bottom: 50px;
    padding: 55px 50px 45px 50px;
}

button[type='submit']{
    position: absolute;
    bottom: 100px;
    left: 40px;
    right: 40px;

    padding: 40px 0;
    border: 0;
    border-radius: 12px;
    background-color: #1294F2;
    color:#F8F8F8;
    font-size: 45px;
    font-weight: 600;
}